@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h2>Genres</h2>

<p>
    <h4>Select</h4>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Store" asp-action="ListAlbums" asp-route-id="@item.GenreID">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
