@model int

@{
    ViewData["Title"] = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<h4>Confirmation</h4>

<hr />

<p>Thanks for your order! Your order number is: @Model</p>

<p>
    How about shopping for some more music in our
    <a asp-controller="Home" asp-action="Index">Music Store</a>
</p>